{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
   Categories
{% endblock %}

{% block content %}


    <br>
    <!-- Jumbotron -->
    <div class="jumbotron text-center mx-2 mb-5">

        <!-- Title -->
        <h2 class="card-title h2" style="color:blue; font-weight: 600;">Categories</h2>
        <!-- Subtitle -->
        <p class="my-4 h6">Select a category to view active listings in that category.</p>
        <br> <br>
        <img src="{% static 'auctions/img/createlisting.jpg' %}" alt="indeximage" style="height: 350px;" class="embed-responsive"> <br> <br> <br> 
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
                <ul class="list-group">
                    <a href="{% url 'category' 'accessories' %}"><li class="list-group-item"><i class="fas fa-headphones "></i> Accessories</li></a>
                    <a href="{% url 'category' 'books' %}"><li class="list-group-item"><i class="fas fa-book-open "></i> Books </li></a>
                    <a href="{% url 'category' 'stationeries' %}"><li class="list-group-item"><i class="fas fa-pen "></i>Stationeries</li></a>
                    <a href="{% url 'category' 'electronics' %}"><li class="list-group-item"><i class="fas fa-tv "></i> Electronics</li></a>
                    <a href="{% url 'category' 'fashion' %}"><li class="list-group-item"><i class="fas fa-tshirt "></i> Fashion</li></a>
                    <a href="{% url 'category' 'furniture' %}"><li class="list-group-item"><i class="fas fa-couch"></i> Furniture</li></a>
                    <a href="{% url 'category' 'jewellery' %}"><li class="list-group-item"><i class="fas fa-gem "></i>Jewellery</li></a>
                    <a href="{% url 'category' 'mobile phones' %}"><li class="list-group-item"><i class="fas fa-mobile "></i> Mobile phones</li></a>
                    <a href="{% url 'category' 'tools' %}"><li class="list-group-item"><i class="fas fa-toolbox ">Tools</i></a>
                    <a href="{% url 'category' 'toys' %}"><li class="list-group-item"><i class="fas fa-cubes "></i></i> Toys</li></a>
                    <a href="{% url 'category' 'vehicles' %}"><li class="list-group-item"><i class="fas fa-car"></i> Vehicles</li></a>  
                    <a href="{% url 'category' 'vehicles' %}"><li class="list-group-item"><i class="fas fa-home"></i> Homes</li></a>  
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Jumbotron -->
{% endblock %}